 ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    li {
     position: relative;
    }
    .menu > li {
      display: inline-block;
      background: #ff0000;
      padding: 10px 20px;
      color: rgb(20, 19, 19);
      cursor: pointer;
    }
    .menu > li:hover {
      background: #8d1111;
    }
    .menu li ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #000000;
      min-width: 180px;
    }
    .menu li:hover > ul {
      display: block;
    }
    .menu li ul li {
      display: block;
      color: #000000;
      padding: 10px;
      background: #dadada;
    }
    .menu li ul li:hover {
      background: #ffffff;
    }
    .menu li ul li ul {
      left: 100%;
      top: 0;
    }